<div class="container-fluid  overflow-hidden" id="">

  <div class="row">
    <div class="col ">
      <div class="row">

        <div class="col-md-5 ">
          <div class="">
            <img class="img-fluid" src="/assets/student-png.png" alt="">
          </div>
        </div>

        <div class="col-md-7 mt-md-3">
          <div class="mt-md-5 pt-md-5">
            <h1 class="text-center  text-warning fs-1 fw-bold  ">Student Management System</h1>
            <p class="p-3  text-center">The student database is the centerpiece of our student information system. It is
              fully integrated with all other features within this website, and offers a centralized view for school
              administrators, and teachers, to quickly find the information they need. Through powerful access right
              controls, you determine what information is available and what is shared with others.</p>
            <div class=" text-center">
              <button routerLink="/login" class="btn btn-warning w-50 shadow">Login</button>
            </div>
          </div>

          <div class="row mt-md-5">

            <div class="col"></div>

            <div class="col-md-7 mt-4 mt-md-0">
              <div class="card shadow">
                <div class="card-body">
                  <img  class="img-fluid" src="https://i.pinimg.com/564x/34/a4/a6/34a4a68aa4f4befddb022bcb2c3d3b07.jpg" alt="">
                </div>
              </div>
            </div>

            <div class="col"></div>



          </div>

        </div>





      </div>






    </div>






  </div>






</div>